.display {
    display: flex;
    justify-content: space-between;
    padding: 1em 4em;
    font-size: 1.1em;
}

.degree {
    font-weight: bold;
}

.location {
    font-style: italic;
}

.right-info {
    text-align: end;
}
