.resume-header-div {
  background-color: rgb(73, 49, 118);
  min-height: 5em;
  color: white;
  text-align: center;
  padding: 1.5em;
  margin-bottom: 1em;
}

img {
  width: 1.2em;
}

.contact-details {
  padding: 1em;
  display: flex;
  gap: 1em;
  font-size: 1.3em;
  justify-content: center;
  align-items: center;
}

.email,
.phone,
.address {
  margin-left: -0.7em;
}

.full-name {
  padding-top: 0.2em;
  font-size: 2.5em;
  font-weight: bold;
}
